/* Universal Selector */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.container{
    width: 100%;
    max-width: 1700px;
    margin: auto;
}

/* Header  Section */

/* Navbar */

header{
    background: whitesmoke;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 32px;
    background-color: #0d1b2aFF;
    border-radius: 8px;
}

.logo h2{
    font-family: Arimo;
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    /* transition: .3s; */
}

/* nav ul a:hover{
    color: #2854ff;
} */

.btn{
    text-decoration: none;
    background-color: #1d4ed8;
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 700;
    transition: .3s;
}

.btn:hover{
    background-color: #2854ff;
}

/* Hero section */

/* body{
    background-color: orange;
} */

.hero{
    margin-top: 100px;
    height: 85vh;
    background: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.55);
}

.hero-content{
    position: relative;
    color: white;
    width: 800px;
}

.hero h1{
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero p{
    width: 700px;
    margin: auto;
    font-size: 20px;
    margin-bottom: 421px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #1d4ed8;
    padding: 18px 45px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

.hero-btn:hover{
    background-color: #2854ff;
}

/* Speaker Section */

.speakers{
    /* padding: 100%; */
    background: whitesmoke;
    margin-top: 20px;
    margin-bottom: 136px;
}

.speakers-title{
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 56px;
    font-size: 54px;
    font-weight: 800;
    color: #111827;
}

.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card{
    background: white;
    border: 1px solid #dfe0e2;
    border-radius: 12px;
    overflow: hidden;
    transition: .35s;
}

/* .speaker-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0,0,0,.12);
} */

.speaker-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.speaker-content{
    padding: 24px;
}

.speaker-content span{
    color: #2d5cff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.speaker-content h3{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 28px;
    color: #111827;
}

.speaker-content p{
    color: #6b7280;
    font-size: 15px;
}